<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= 'https://storage.googleapis.com/ff-storage-p01/festivals/cover_photos/000/041/450/original/cover_photo.jpg?1514473357' %>');">

</div>
<div class="d-flex justify-content-center m-5">
  <%= image_tag '' %>
  <% @lists.each do |list|%>
    <h2 class="p-3"><%= link_to list.name, list_path(list), class: "btn btn-ghost" %></h2>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <p><%= link_to 'Ajoute une nouvelle liste', new_list_path, class:"btn btn-primary"%></p>
</div>
