<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= 'https://storage.googleapis.com/ff-storage-p01/festivals/cover_photos/000/041/450/original/cover_photo.jpg?1514473357' %>');">

</div>


<div class="cards">
  <% @lists.each do |list|%>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>')">
    <%= link_to list.name, list_path(list) %>
  </div>

  <% end %>
</div>
<div class="d-flex justify-content-center">
  <p><%= link_to 'Ajoute une nouvelle liste', new_list_path, class:"btn btn-primary"%></p>
</div>
